<%- include header_carousel.ejs %>
<style type="text/css">
    .tag{background-color:#ff0000;border-radius:3px;font-size:14px;color:#ffffff;display:inline-block;padding:0 5px;margin-bottom:8px;}
    .tag:hover{text-decoration:none;background-color:#ffffff;color:#000000;-webkit-transition:color .2s linear;}
    .comments {
        width:100%;/*自动适应父布局宽度*/
        overflow:auto;
        word-break:break-all;
        /*在ie中解决断行问题(防止自动变为在一行显示，主要解决ie兼容问题，ie8中当设宽度为100%时，文本域类容超过一行时，
        当我们双击文本内容就会自动变为一行显示，所以只能用ie的专有断行属性“word-break或word-wrap”控制其断行)*/
    }
</style>
<div class="container marketing">
    <div class="row-fluid">
        <br />
        <br />
        <br />
        <br />

        <div class="span2">
        </div>
        <div class="span8">
            <!--54wall-->
            <h2><%- post.title %></h2>
            <p>
                <% if (user && (user.name == post.name)) { %>
                <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
                <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
                <% } %>
            </p>
            <p class="info">
                作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
                日期：<%= post.time.minute %>
                标签：
                <% post.tags.forEach(function (tag, index) { %>
                <% if (tag) { %>
                <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                <% } %>
                <% }) %>
            </p>
            <p><%- post.post %></p>
            <%- include comment %>
        </div>
        <div class="span2">
        </div>
    </div>
    <!-- FOOTER -->
    <!--<footer>-->
        <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
        <!--<p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
    <!--</footer>-->

</div><!-- /.container -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="bootstrap/carousel/jquery.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-transition.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-alert.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-modal.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-dropdown.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-scrollspy.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-tab.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-tooltip.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-popover.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-button.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-collapse.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-carousel.js"></script>-->
<!--<script src="bootstrap/carousel/bootstrap-typeahead.js"></script>-->
<!--<script>-->
    <!--!function ($) {-->
        <!--$(function(){-->
            <!--// carousel demo-->
            <!--$('#myCarousel').carousel()-->
        <!--})-->
    <!--}(window.jQuery)-->
<!--</script>-->
<!--<script src="bootstrap/carousel/holder.js"></script>-->
</body>
</html>